* {
    box-sizing: border-box;
}

html {
    height: 100%;
    flex: 2 1 0;
    background-color: #ffff;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    flex-flow: column wrap;
    line-height: 1.3;
    min-height: 100vh;
}

.bigbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: limegreen;
    border-style: solid;
    border-width: 2%;
}

header {
    background-color: purple;
    min-width: 100%;
    min-height: auto;
}

h1 {
    text-align: center;
    font-size: 400%;
    color: #ffff;
}

#time h3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    font-size: 125%;
}

.quiz {
    flex-flow: column wrap;
    min-width: 100%;
    min-height: auto;
}

#quiz {
    background-color: #ffff;
}

h2 {
    font-size: 200%;
    text-align: center;
}

p {
    flex-flow: row wrap;
    justify-content: flex-start;
    min-width: 100%;
    min-height: auto;
    font-size: 150%;
    color: rgb(243, 10, 10);
    font-weight: bold;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: auto;
    justify-content: space-around;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    background-color: gold;
    min-width: 40%;
    min-height: auto;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 125%;
    font-weight: bold;
}

.btn:hover {
    background-color: aqua;
}

#submit {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 80%;
    min-height: auto;
}

h1 #scorepage {
    color: #0000;
}

.btn footer {
    min-width: auto;
    min-height: auto;
}

@media screen and (max-width: 900px) {
    body {
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 725px) {
    body {
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 565px) {
    body {
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 340px) {
    body {
        flex-flow: column wrap;
    }
}